@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 18px;
}

* {
  -webkit-print-color-adjust: exact;
}

.resume-page {
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0;
  width: 8.5in;
  height: 12in;
  background-color: rgb(250, 255, 255);
  box-shadow: 0 3px 8px -3px rgba(0, 0, 0, 0.7);
}
